body {
    margin: 0;
    background-color: #1c2430;
    color: #16b174;
    display: flex;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 60px;
    width: 400px;
}

h1 {
    color: white;
    margin-bottom: 0;
}

span {
    color: #16b174;
}

p {
    color: grey;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 40px;

}



#generate-btn {
    color: white;
    background-color: #16b174;
    font-family: inherit;
    font-weight: 300;
    font-style: normal;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 13px;
    border: 0;
}


.generated-buttons {
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #242e40;
}

.btn {
    background-color: #242e40;
    color: #16b174;
    padding: 7px 30px;
    border-radius: 5px;
    font-size: 13px;
    font-family: inherit;
    font-weight: 300;
    font-style: normal;
    border: 0;
    width: 180px;
}

#generated-one {
    margin-right: 10px;

}

#generated-two {
    margin-left: 10px;
}



